<h2 class="page-header">Search Book</h2>
<form action="/books" method="GET">
    <div>
        <label for="">Title</label>
        <input type="text" name="title" placeholder="Search here" value="<%= searchOptions.title %>">
    </div>
    <div>
        <label for="">Published After</label>
        <input type="date" name="publishedAfter" placeholder="Search here" value="<%= searchOptions.publishedAfter %>">
    </div>
    <a>
        <label for="">Published Before</label>
        <input type="date" name="publishedBefore" placeholder="Search here" value="<%= searchOptions.publishedBefore %>">
    </div>

    <button type="submit">Search</button>
</form>
<br>
<div>
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id %>">
            <img src="<%= book.coverImagePath %>" alt="<%= book.title %>" height="150" width="100">
        </a>
    <% }) %>
</div>